@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
:root {
    --primary-color: #396E94;
    --secondary-color: #E7C24F;
    --accent1-color: #A43312;
    --accent2-color: white;
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif
}

html {
    background-color: var(--primary-color)
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 1em
}

img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: black
}

header {
    padding: 1em;
    text-align: center;
    color: var(--accent2-color);
    background-color: white
}

header>h1 {
    color:white
}

p {
    font-family: var(--paragraph-font);
    color: black;
    padding:1em; }

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: #999
}

.colors td {
    width: 25%;
    height: 3em
}

.primary {
    background-color: var(--primary-color)
}

.secondary {
    background-color: var(--secondary-color)
}

.accent1 {
    background-color: var(--accent1-color)
}

.accent2 {
    background-color: var(--accent2-color)
}





header nav ul li a:hover {
    color: purple;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: .75rem;
}
a:focus,
.active{
    color:yellow;
    border-bottom: 1px solid black;
    padding-bottom: .2rem;
}
header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
    flex: 1 1 auto;

}
main { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.banner-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
    
.banner-box img {
    grid-column: 1 / -1;
    grid-row: 1;
}
    
.action {
    grid-column: 1;
    grid-row: 1;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
    text-align: center;
}
    
.action button {
    line-height: 2em;
    width: 10em;
    background-color: #e7c24f;
    font-size: 1.2em;
}