
p {
    background-color:lightgray;
    
    
}
header {
    color:white;
    border-radius: 5px;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    background-color:lightgray;
}
body {
	background-color:lightgrey;
	padding: 0;
	margin: 0;
    font-size: 16px;
    text-align: justify; 
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color:rgb(17, 32, 77);
	padding: 5px 0;
	display: flex;
    align-items: center;
	justify-content: space-around;
}

header img {
	width: 100px;
    height: auto;
    border-radius: 60px;
}




.banner-box {
    display: grid;
	grid-template-columns: 1fr 1fr;

}
.banner-box img {
    grid-column: 1 / -1;
	grid-row: 1;
	width: 100%;
	height: auto;
}
    
.action {
    grid-column: 1;
    grid-row: 1;
    background-color:rgba(240, 240, 240, 0.8);
    margin: 1em 3em;
    padding: 1em;
	text-align: center;
    height: 125px;
}
    
.action button {
    line-height: 2em;
    width: 10em;
    background-color: #e7c24f;
    font-size: 1.2em;
}

.wrapper {
	display: grid;
	grid-template-columns: 40% 60%;
}



.heading h1 {
	font-size: 1.5rem;
	color: navy;
	margin: 1px;
}

.social {
	text-align: right;
}
header nav ul li a:hover {
    color:white ;
}
header nav ul li a {
    color:crimson;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: .75rem;
}
a:focus,
.active{
    color: white ;
    border-bottom: 1px solid white;
    padding-bottom: .2rem;
}
header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav ul li {
    flex: 1 1 auto;

}


.foot {
    text-align: center;
    margin-bottom: 45px;
}
@media screen and (max-width: 550px) {
	.______ {
	  display: block;
	}
}
.picture {
width: 450px;
height: 350px;
padding: 13px;
}

.big{
	text-align: center;
}

